*{
    box-sizing: border-box;
}
/*head section*/
.head{
    background-color: rgb(49, 138, 253);
    text-align: center;
}
.head h1 {
    color: white;
    text-transform: uppercase;
   
}
.head ul {
    color: white;
    flex: auto;
   display:flex;
   gap: 12px;
   justify-content: center;
   
}
/*section 1*/
.sect_1{
    display: flex;
    columns: 2;
    column-gap: 50px;
    
}
.sect_1 aside{
    float: left;
    font-size: 10px;
    color:  rgb(49, 138, 253);
    justify-content: center;
    margin: 5 2;
}
.sect_1 p{
    color: rgb(0, 0, 0);
    float: none;
    justify-content: center;
    margin: 5 2;
}
/*section 2*/
.sect_2{
    column-gap: 0px;
    display: flex;
}
.sect_2 aside{
    display: flex;
    float: left;
    font-size: 10px;
    color:  rgb(49, 138, 253);
    margin: 5 2;
}
.sect_2 ul{
    color: rgb(0, 0, 0);
    columns: 2;
    justify-content: center;
    margin: 5 2;
}
/*section 3*/
sect_3{
    
    display: flex;
    column-gap: 80px;
}
.sect_3 aside{
    display: flex;
    float: left;
    font-size: 10px;
    color:  rgb(49, 138, 253);
    margin: 5 2;
    justify-content: center;
    
}
.sect_3 ul{
    color: rgb(0, 0, 0);
    columns: 3;
    column-gap: 30;
    display: inline;
    
}
/*section 4*/
.sect_4{
    display: flex;
    columns: 2;
    column-gap: 50px;
}
.sect_4 aside{
    display: flex;
    float: left;
    font-size: 10px;
    color:  rgb(49, 138, 253);
    margin: 5 2;
}