*{
    box-sizing: border-box;
}
.head{
    background-color: rgb(68, 112, 255);
    float: none;
    padding: 10px;
    
}
.head h1{
   color: rgb(255, 255, 255);
   text-align: center;
   text-transform: uppercase;
    
}
.list_1{
display:flex;
flex-direction: row;
gap: 14px;
list-style-type: square;
padding: 23px;
margin: 22px;
font-size: 12px;
color: white;
text-align: center;

}
.sect_1 h3{
    float: left;
    gap: 12px;
}
article{
    float: right;
}